.banner{
    padding: 0 5rem;
    display: grid ;
    width: 100%;
    grid-template-columns: 2fr 1fr;

    .content{
        display: flex; 
        flex-direction: column;
        gap: 2rem;   

        .buttons-wrapper{
            display: flex;
            gap: 1rem;

            .btn{
                display: flex;
                align-items: center;
                padding: .5rem;
                gap: .2rem;
                background-color: transparent;
                color: #fff;

                span{
                    font-size: 1rem ;
                }
            }
            .first-btn{
                background-color: var(--bg-primary);
                color: var(--text-primary);
            }
        }
    }

    h1{
        font-size: 4rem;
    }

    p{
        font-size: .9rem;
    }
}

@media (max-width: 768px) {
    .banner{
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        padding: 0 2.5rem;
        
        h1{
            font-size: 2rem;
        }
    }

}